li {
  background-color: aliceblue;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li span,
li button {
  display: block;
}
li p {
  margin-left: 10px;
}
li button {
  cursor: pointer;
  background-color: brown;
  border: none;
  color: aliceblue;
  width: 44px;
  height: 44px;
  font-size: 24px;
}
